.product-content-wrapper {
  background: #E0DDCF;
  height: 100%;
  padding: 40px 0px;
  width: 100%;
}

.product-content-1 {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-image {
  width: 50%;
}

.product-image > img {
  width: 90%;
  height: 90%;
  border-radius: 5px;
}

.product-descr {
  width: 50%;
}

.product-title-wrapper {
  position: relative;
}

.product-div {
  position: absolute;
  top: -20px;
  background: #352945;
  border-radius: 5px;
  height: 5px;
  width: 70px;
}

.product-title {
  font-size: xx-large;
  letter-spacing: 2px;
  font-weight: bold;
}

.place-order {
  width: 150px;
}