* {
  box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

/* #A393BF try this on  active links */

body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background-color: #E0DDCF;
}

a {
  color: black;
  text-decoration: none;
}

p,
a,
i,
h5 {
  font-size: 16px;
}

.max-width {
  max-width: 1100px;
  margin: auto;
}

nav {
  background-color: white;
  color: black;
  position: fixed;
  width: 100%;
  z-index: 1000;
}

.nav {
  padding: 16px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
  display: none;
}

.mobile-header img {
  width: 40px;
  height: 30px;
}

.mobile-header span {
  font-size: 30px;
  cursor: pointer;
}

.border {
  border-bottom: 1px solid rgb(228, 222, 222);
}

nav img {
  width: 50px;
  height: 40px;
  border-radius: 2px;
}

.nav-home-cancel img {
  width: 40px;
  height: 40px;
}

.cancel {
  cursor: pointer;
  font-size: 30px;
  color: white;
}

.nav-home-cancel {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-center-nav {
  text-align: center;
  line-height: 5;
}

.mobile-support-btn {
  background-color: white;
  color: black;
  padding: 12px;
  text-align: center;
  font-weight: bold;
}

.center-menu {
  display: flex;
  width: 30%;
  justify-content: space-between;
}

.center-menu a:active {
  color: blueviolet;
}

.support {
  background-color: #352945;
  color: white;
  padding: 12px 18px;
  font-weight: bold;
  border-radius: 4px;
}

.header {
  background-image: linear-gradient(rgba(15, 15, 15, 0.7),
      rgba(13, 13, 14, 0.5)),
    url(../image/teeth.jpeg);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  /* margin-top: 80px; */
  display: flex;
  align-items: center;
}

.header-job {
  background-image: linear-gradient(rgba(15, 15, 15, 0.7),
      rgba(13, 13, 14, 0.5)),
    url(../image/job-header.webp);
}

.header-about {
  background-image: linear-gradient(rgba(15, 15, 15, 0.7),
      rgba(13, 13, 14, 0.5)),
    url(../image/about-us-background.jpg);
}

/*  */
.header-container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.header-support {
  background-image: linear-gradient(rgba(15, 15, 15, 0.7),
      rgba(13, 13, 14, 0.5)),
    url(../image/contact.jpg);
}

.header-img-product {
  width: 400%;
  display: flex;
  overflow: hidden;
  animation: slide 40s linear infinite;
  /* Adjust the duration as needed */
}

.header-img-product img {
  flex: 1;
  width: 100%;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
    /* Slide the width of all images */
  }
}

.why-inclusive {
  padding: 20px;
}

.header-text-product {
  position: absolute;
  top: 0;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  padding: 20px;
  height: 100vh;
  display: flex;
  align-items: center;
}

.text-product {
  width: 40%;
  color: white;
}

/*  */
.header-text {
  color: white;
}

.text {
  width: 40%;
}

.mobile-nav {
  display: none;
}

.support-text {
  background-color: #352945;
  padding: 12px;
  width: 80%;
  font-weight: bold;
  border-radius: 4px;
  text-align: center;
}

.support-text a {
  color: white;
}

.our-product {
  text-align: center;
}

.image-describe-why {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.image-describe-why img {
  object-fit: contain;
  width: 300px;
  border-radius: 4px;
}

.see-more a {
  border-bottom: 1px solid #352945;
}

.see-more {
  text-align: center;
}

.globe {
  display: flex;
  align-items: center;
}

.deliver-accross-globe {
  /* background-color: #f5ecfd; */
  background-image: linear-gradient(rgba(15, 15, 15, 0.7),
      rgba(13, 13, 14, 0.5)),
    url(../image/GLOBE.jpg);
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
  background-size: contain;
  display: flex;
}

.country {
  display: flex;
  justify-content: end;
  padding: 20px;
  width: auto;
}

.text-home {
  margin: auto;
  background: linear-gradient(rgba(235, 243, 251, 0.3),
      rgb(235, 243, 251, 0.5));
  padding: 13px;
}

/* footer */
footer {
  padding: 20px;
  padding: 20px;
  background-color: #352945;
  color: #7f9fb6;
}

footer a {
  color: #7f9fb6;
}

.join {
  display: flex;
}

.join h3 {
  text-decoration: underline 2px;
}

.footer1 {
  width: 20%;
}

.footer1 p {
  line-height: 30px;
}

.footer-home {
  display: flex;
  flex-direction: column;
}

.footer-company {
  display: flex;
  flex-direction: column;
}

.footer-help {
  display: flex;
  flex-direction: column;
}

.footer2 {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-evenly;
}

.socio-footer {
  width: 15%;
  display: flex;
  justify-content: space-between;
}


.social-footer {
  display: flex;
  justify-content: center;
  margin-top: 70px;
  align-items: center;
  flex-direction: column;
}

.social-footer a span {
  color: #ebb583;
}
.job{
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}



.no-job{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
  color: #352945;
}

.no-job i{
  font-size: 30px;
color: #352945;
}

.contact-support{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
}

.box{
  background-color: white;
  text-align: black;
  box-shadow: -6px 17px 30px -16px rgba(112,104,104,1);
-webkit-box-shadow: -6px 17px 30px -16px rgba(112,104,104,1);
-moz-box-shadow: -6px 17px 30px -16px rgba(112,104,104,1);
height: auto;
width: 320px;
/* line-height: 0; */
padding: 12px;
border-radius: 6px;
}

.box i{
  background-color: #352945;
  color: white;
  padding: 16px;
  border-radius: 50%;
  font-size: 30px;
}

.call{
  display: flex;
  align-items: center;
  gap: 2px;

}

.call a{
  color: blueviolet;
}

.email a{
  color: blueviolet;
}

.social-icon {
  display: flex;
  gap: 6px;
}
.social-icon .fa-facebook{
  background-color: blueviolet;
  color: white;
  padding: 4px;
  font-size: 25px;
  border-radius: 4px;
}

.social-icon .fa-instagram{
  background-color: red;
  color: white;
  padding: 4px;
  font-size: 25px;
  border-radius: 4px;
}

.social-icon .fa-whatsapp{
  background-color: green;
  color: white;
  padding: 4px;
  font-size: 25px;
  border-radius: 4px;
}

.support-contact-side{
  padding-bottom: 20px;
  padding-top: 20px;
}

@media (max-width: 991px) {
  .footer1 p {
    text-align: center;
  }

  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  .footer2 {
    width: 100%;
    justify-content: space-evenly;
  }

  .footer1 {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  .socio-footer {
    width: 20%;
  }
  

  .mobile-nav {
    background-color: #352945;
    padding: 16px;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    display: none;
  }

  .mobile-center-nav p a {
    color: white;
  }

  nav {
    display: none;
  }

  .mobile-header {
    display: flex;
  }

  .text,
  .text-home,
  .text-product {
    width: 100%;
    padding: 6px;
  }

  .image-describe-why img {
    width: 100%;
  }

  .image-describe-why {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 16px;
  }

  .header {
    height: auto;
    padding: 6px;
  }

  .header-img-product {
    animation: slide 10s linear infinite;
  }

  .contact-support{
    flex-direction: column;
    margin: auto;
    gap: 30px;
  }

  .box{
    width: 80%;
    margin: auto;
  }
}

@media (max-width: 1200px) {
  nav {
    padding: 16px;
  }
}